
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px; 
  max-width: 90%; 
}

.modal-buttons {
  margin-top: 10px;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

li.concluida {
  text-decoration: line-through;
  color: gray;
}

button.editBtn, button.doneBtn {
  margin-left: 5px;
}

.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #002b5c;
  color: white;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  width: 90px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.sidebar h6 {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #004b99;
}

.container {
  margin-left: 250px;
  padding: 40px;
  width: calc(100% - 250px);
}

h1 {
  color: #002b5c;
  font-weight: 600;
  margin-bottom: 25px;
}

#addTaskBtn {
  background-color: #004080;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

#addTaskBtn:hover {
  background-color: #0066cc;
}


.tarefa-hoje {
    background: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 10px;
}

.concluida {
    text-decoration: line-through;
    opacity: 0.6;
}
.conteudo {
    margin-left: 260px; 
}
.tarefa-hoje {
    background: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 10px;
}

.concluida {
    text-decoration: line-through;
    opacity: 0.6;
}


.btn-sm {
    padding: 4px 10px;
    font-size: 14px;
}
